* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    
}

:root {
    --lightblack-color: #1f1f1fbe;
}

#search-div p,
#search-div i
{
    color: rgba(255, 255, 255, 0.736);
}

#black-hover{

    background-color: var(--lightblack-color);
} 
