* {
    font-family: "Poppins", sans-serif;
    
}

:root {
    --red-color: #630202;
    --yellow-color: #FFD700;
    --lightblack-color: #1f1f1fbe;
    --black-color:rgb(0, 0, 0);
    --white-color: #F5F5F5;
}

#search-div p,
#search-div i
{
    color: rgba(255, 255, 255, 0.736);
}

#black-hover{

    background-color: var(--lightblack-color);
} 
